# Web Framework
fastapi
uvicorn[standard]
pydantic
pydantic-settings
httpx

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# Testing
#pytest==8.3.4 
pytest
pytest_asyncio
#pytest-asyncio==0.25.2
pytest-cov
pytest-bdd
testcontainers

# Validation
pycountry

# Utilities
python-dotenv
